html,
body {
  background-color: black;
  margin: 0;
  color: white;
  font-family: Optima, serif;
  font-size: 1.1em;
  overflow: hidden;
}

/* body {
  overflow-y: auto;
}

@media (max-width: 768px) {
  body {
    overflow-y: scroll;
  }
} */

div {
  margin: auto;
  text-align: center;
  padding: 20px;
}

p {
  margin: auto;
  font-family: Optima, serif;
  text-align: center;
  padding: 30px;
}

/*buttons */

a:link {
  color: white;
  /* text-decoration: none; */
  font-size: large;
  text-decoration: underline;
}

a:visited {
  color: white;
}

.button {
  position: relative;
  display: inline-block;
  margin: 5px;
  padding: 10px 20px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: black;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid white;
  border-radius: 50px;
  box-shadow: inset 0 0 0 0 red;
}

.button:hover {
  color: red;
  box-shadow: inset 0 -100px 0 0 red;
}

.button:active {
  transform: scale(0.9);
}

.level {
  position: relative;
  display: inline-block;
  margin: 5px;
  padding: 10px 20px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: lime;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid lime;
  border-radius: 50px;
  box-shadow: inset 0 0 0 0 lime;
}

.level:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 lime;
}

.level:active {
  transform: scale(0.9);
}

.level2 {
  position: relative;
  display: inline-block;
  margin: 5px;
  padding: 10px 20px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: orange;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid orange;
  border-radius: 50px;
  box-shadow: inset 0 0 0 0 orange;
}

.level2:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 orange;
}

.level2:active {
  transform: scale(0.9);
}

.level3 {
  position: relative;
  display: inline-block;
  margin: 5px;
  padding: 10px 20px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: blue;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid blue;
  border-radius: 50px;
  box-shadow: inset 0 0 0 0 blue;
}

.level3:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 blue;
}

.level3:active {
  transform: scale(0.9);
}

.level4 {
  position: relative;
  display: inline-block;
  margin: 5px;
  padding: 10px 20px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: rgb(157, 6, 149);
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid rgb(157, 6, 149);
  border-radius: 50px;
  box-shadow: inset 0 0 0 0 rgb(157, 6, 149);
}

.level4:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 rgb(157, 6, 149);
}

.level4:active {
  transform: scale(0.9);
}

/* hidden buttons */
.hidden {
  visibility: hidden;
  color: red;
}

.hidden1 {
  visibility: hidden;
  transition-duration: 0.4s;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #000000;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}
.hidden1:hover {
  background-color: red; /* blue */
  color: white;
}

/* rows & columns */
.row {
  display: flex;
}

.column {
  flex: 33.33%;
}

/* centering things */
.center {
  text-align: center;
  margin: auto;
}
