html,
body {
  background-color: black;
  margin: 0;
  color: white;
  font-family: Optima, serif;
  font-size: 1.1em;
  overflow-x: hidden;
}

body {
  overflow-y: auto;
}

@media (max-width: 768px) {
  body {
    overflow-y: scroll;
  }
}

div {
  margin: auto;
  text-align: center;
  padding: 20px;
}

p {
  margin: auto;
  font-family: Optima, serif;
  text-align: center;
  padding: 30px;
}

/*buttons */

a:link {
  color: white;
  /* text-decoration: none; */
  font-size: large;
  text-decoration: underline;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
  font-size: x-large;
}

.level {
  transition-duration: 0.4s;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #000000;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}

.level:hover {
  background-color: lime; /* Green */
  color: white;
}
.level2 {
  transition-duration: 0.4s;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #000000;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}

.level2:hover {
  background-color: orange; /* Orange */
  color: white;
}
.level3 {
  transition-duration: 0.4s;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #000000;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}

.level3:hover {
  background-color: blue; /* Blue */
  color: white;
}

.level4 {
  transition-duration: 0.4s;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #000000;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}

.level4:hover {
  background-color: rgb(157, 6, 149); /* Blue */
  color: white;
}
/* hidden buttons */
.hidden {
  visibility: hidden;
  color: red;
}

.hidden1 {
  visibility: hidden;
  transition-duration: 0.4s;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #000000;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}
.hidden1:hover {
  background-color: red; /* blue */
  color: white;
}

/* rows & columns */
.row {
  display: flex;
}

.column {
  flex: 33.33%;
}

/* centering things */
.center {
  text-align: center;
  margin: auto;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #000000;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}
